/* Colors from Solarized: http://ethanschoonover.com/solarized#the-values */

body {
  padding: 0em 1em;
  font-family: "Menlo", monospace;
  font-size: 14px;
  color: #839496;
  background: #eeeeee;
  width: 95%;
}

body, .editor textarea {
  font-family: "Menlo", monospace;
  font-size: 14px;
}

body.embedded {
  margin: 0;
  padding: 0;
  width: 100%;
}

.loading > * {
  visibility: hidden;
}

.loading > .loading-indicator {
  visibility: visible;
  display: block;
  margin-top: 50%;
  text-align: center;
}

.loading-indicator {
  display: none;
}

.embedded #top {
  display: none;
}

.embedded #bottom {
  display: none;
}


#top {
  width: 100%; height: 50px;
  position: relative;
}

#info {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

#info p {
  margin: 0;
}

.turtlegraphics {
  background: white;
}

#bottom {
  position: relative;
  width: 100%; height: 30px;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#cheatsheet {
  width: 1200px;
  padding: 30px; 
  display:none;
  background: #FFF;
  border-radius: 5px; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.7); 
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); 
  -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
}

#cheatsheet p { color: #666; text-shadow: none; }

#help {
  position: absolute;
  right: 80px;
  color: black;
}

#cookbook {
  position: absolute;
  right: 0;
}

#cookbook label {
  background: #eeeeee;
  cursor: pointer;
}

#cookbook {
  color: black;
}

#cookbook ul {
  z-index: 1000;
  display: none;
  position: absolute;
  width: 135px;
  bottom: 2px;
  right: 0;
  list-style: none;
  padding: 10px;
  background: #eeeeee;
  border-radius: 10px 0 0 0;
  line-height: 30px;
  cursor: pointer;
}

#cookbook li {
  margin: 0;
}

#cookbook li:hover {
  background: yellow;
}

#share {
  display: none;
  position: absolute;
  left: 0;
  color: black;
}

#share label {
  background: #eeeeee;
  cursor: pointer;
}

#share form {
  z-index: 1000;
  display: none;
  position: absolute;
  width: 135px;
  bottom: 16px;
  left: 0;
  background: #eeeeee;
  border-radius: 0 10px 0 0;
  padding: 10px;
  line-height: 24px;
}

#share a {
  display: none;
  font-size: 11px;
}

.ajax {
  background: url('../images/ajax.gif') 0 4px no-repeat;
  display: inline-block;
  width: 16px;
  height: 20px;
  margin-top: -2px;
  margin-left: 6px;
}

input {
  border-radius: 5px;
}

input:focus {
  outline:none;
}

.editor {
  display: none;
}

.editor-mode .editor {
  display: block;
}

.editor-mode .console {
  display: none;
}

.editor, .console {
  position: relative;
  height: 200px;
}

.editor textarea {
  width: 100%;
  height: 196px;
  resize: none;
  background-color: #002b36;
  color: white;
  border: none;
  outline:none;
}

.editor .links {
  position: absolute;
  top: 2px;
  right: 20px;
}
.editor a {
  text-decoration: none;
}

.editor .error {
  color: red;
  position: absolute;
  right: 20px;
  bottom: 2px;
}

.console {
  position: relative;
}

.console .editor-link {
  position: absolute;
  top: 2px;
  right: 20px;
  text-decoration: none;
}

.wrap{
  position:absolute;
  top: 0px;
  left: 0px;
  width:100%;
  height:100%;
  display:none;
  overflow:auto;
}    
/* The console container element */
.console {
  width: 100%;
  height: 172px;
  padding: 1em 0em;
  background-color: #002b36;
  overflow: auto;
}
/* The inner console element. */
.jqconsole {
    padding: 10px;
}
/* The cursor. */
.jqconsole-cursor {
  background: #CFCF20;
}
.jqconsole-cursor.blink {
  background: none;
}
/* The cursor color when the console looses focus. */
.jqconsole-blurred .jqconsole-cursor {
    background-color: #666;
}
/* The current prompt text color */
.jqconsole-prompt {
    color: #586e75;
}
/* The command history */
.jqconsole-old-prompt {
    color: #586e75;
    opacity: 0.9;
    font-weight: normal;
}
/* The text color when in input mode. */
.jqconsole-input {
  color: #586e75;
}
/* Previously entered input. */
.jqconsole-old-input {
    color: #bb0;
    font-weight: normal;
}
/* The text color of the output. */
.jqconsole-output {
    color: white;
}
.jqconsole-value {
  color: #268bd2;
}

.jqconsole-type {
  color: #2aa198;
}

.jqconsole-error {
  color: #dc322f;
}

a:link {
  color: #268bd2;
}

a:visited {
  color: #6c71c4;
}

.cheatsheet pre {
  background: #073642;
  padding: 1em;
}
