/* Colors from Solarized: http://ethanschoonover.com/solarized#the-values */

body {
  padding: 0em 1em;
  font-family: "Menlo", monospace;
  font-size: 14px;
  color: #839496;
  background: #eeeeee;
}

#top {
  width: 900px; height: 50px;
  position: relative;
}

#info {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

#info p {
  margin: 0;
}

#turtlegraphics {
  background: white;
}

#bottom {
  position: relative;
  width: 900px; height: 30px;
}

#cookbook {
  position: absolute;
  right: 0;
}

#cookbook label {
  background: #eeeeee;
  cursor: pointer;
}

#cookbook {
  color: black;
}

#cookbook ul {
  z-index: 1000;
  display: none;
  position: absolute;
  width: 135px;
  bottom: 2px;
  right: 0;
  list-style: none;
  padding: 10px;
  background: #eeeeee;
  border-radius: 10px 0 0 0;
  line-height: 30px;
  cursor: pointer;
}

#cookbook li {
  margin: 0;
}

#cookbook li:hover {
  background: yellow;
}

#share {
  position: absolute;
  left: 0;
  color: black;
}

#share label {
  background: #eeeeee;
  cursor: pointer;
}

#share form {
  z-index: 1000;
  display: none;
  position: absolute;
  width: 135px;
  bottom: 16px;
  left: 0;
  background: #eeeeee;
  border-radius: 0 10px 0 0;
  padding: 10px;
  line-height: 24px;
}

#share a {
  display: none;
  font-size: 11px;
}

.ajax {
  background: url('../images/ajax.gif') 0 4px no-repeat;
  display: inline-block;
  width: 16px;
  height: 20px;
  margin-top: -2px;
  margin-left: 6px;
}

input {
  border-radius: 5px;
}

input:focus {
  outline:none;
}

.console {
  padding: 1em 0em;
  background-color: #002b36;
  width: 900px; height: 200px;
  overflow: auto;
}

.jquery-console-cursor {
  background: #CFCF20;
}

.jquery-console-cursor.blink {
  background: none;
}

.jquery-console-prompt-label {
  color: #586e75;
}

.jquery-console-message-value {
  color: #268bd2;
}

.jquery-console-message-type {
  color: #2aa198;
}

.jquery-console-message-error {
  color: #dc322f;
}

a:link {
  color: #268bd2;
}

a:visited {
  color: #6c71c4;
}

.cheatsheet pre {
  background: #073642;
  padding: 1em;
}
